{% extends "_layouts/cp" %}

{% set title = "Entry Count"|t('entry-count') %}

{% set entries = craft.entryCount.entries.all() %}


{% block content %}

    {% if entries|length %}
        <table class="data fullwidth">
            <thead>
                <tr>
                    <th>{{ "Entry"|t('entry-count') }}</th>
                    <th>{{ "URL"|t('entry-count') }}</th>
                    <th>{{ "Count"|t('entry-count') }}</th>
                    <th>{{ "First Count"|t('entry-count') }}</th>
                    <th>{{ "Last Count"|t('entry-count') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for entry in entries %}
                {% set count = craft.entryCount.count(entry.id) %}
                <tr>
                    <td>
                        <a href="{{ url('entries/' ~ entry.section.handle ~ '/' ~ entry.id ~ '-' ~ entry.slug) }}">
                            {{ entry.title }}
                        </a>
                    </td>
                    <td>
                        {% if entry.url %}
                            <a href="{{ entry.url }}" class="go" target="_blank">
                                {{- entry.uri == '__home__' ? '/' : entry.uri -}}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {{ count }}
                    </td>
                    <td>
                        {{ count.dateCreated|datetime }}
                    </td>
                    <td>
                        {{ count.dateUpdated|datetime }}
                    </td>
                    <td>
                        <a href="{{ actionUrl('entry-count/entry-count/reset', { entryId: entry.id }) }}" class="delete icon"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ "No entries counted"|t('entry-count') }}
    {% endif %}

{% endblock %}
